body {
  background: bisque;
  margin: 0
}

.display {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Hack, serif;
  color: indigo;
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: center;
}

.warning-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


#run {
  font-size: 40px;
  display: none;
  justify-content: center;
  animation: .5s shake infinite;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

#defused {
  box-shadow: inset 0 -3px 7px 0 #29bbff;
  background: #2dabf9 linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  border-radius: 3px;
  border: 1px solid #0b0e07;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 25px;
  text-decoration: none;
  text-shadow: 0 1px 0 #263666;
  text-align: center;
  width: 250px;
  margin-top: 2%;
}

.defuse:hover {
  background: #0688fa linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
}

.defuse:active {
  position: relative;
  top: 1px;
}
