body {
  background: rgb(71, 71, 94);
}

#approve,
#delete {
  display: block;
  border: hidden;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
  font-size: 40px;
  color: white;
  background: black;
}

#delete:hover {
  color: red;
}

#approve:hover {
  color: lightgreen;
}

p {
  visibility: hidden;
  margin-top: -50px;
  margin-left: 50px;
  width: 200px;
  height: 60px;
  font-family: Operator Mono Book;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  color: white;
}

#delete:hover > p,
#approve:hover > p {
  visibility: visible;
}

#delete > p {
  background: red;
}

#approve > p {
  background: lightgreen;
}
