body {
  background: rgb(71, 71, 94);
}

button {
  display: block;
}

#approve,
#delete {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  display: block;
}

#delete,
#approve {
  border: hidden;
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 40px;
}

#delete:hover {
  color: red;
}

#approve:hover {
  color: lightgreen;
}

#delete:hover > p,
#approve:hover > p {
  visibility: visible;
  width: 200px;
  font-size: 15px;
}

p {
  visibility: hidden;
  color: white;
  margin-left: 50px;
  height: 60px;
  line-height: 60px;
  margin-top: -50px;
}

#delete > p {
  background-color: red;
}

#approve > p {
  background-color: lightgreen;
}
