<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cocktails:</h1>
    <div id="list">
      <% for( let i = 0; i < cocktails.length; i++ ) { %>
      <li>Name: <%= cocktails[i].name %></li>
      <li>Contents: <%= cocktails[i].contains %></li>
      <h4>Price: <%= cocktails[i].price %></h4>
      <% } %>
    </div>
    <div id="alcoholic cocktails">
      <h4>Alcoholic ingredients:</h4>
      <% for( let i = 0; i < alcoholList.length; i++ ) { %>
      <li><%= alcoholList[i] %></li>
      <% } %>
    </div>
  </body>
</html>
