body {
  letter-spacing: 0.25em;
  background: url('https://cdn.gamer-network.net/2019/usgamer/DOOM-1993-SWITCH-LEAD.jpg/EG11/thumbnail/1920x1080/format/jpg/quality/75/classic-doom-doom-2-and-3-look-like-theyre-coming-to-the-nintendo-switch-today.jpg');
  /* background: #340612; */
  color: white;
  font-family: Amazdoomleft;
  font-size: 1.35em;
}

@font-face {
  font-family: Amazdoomleft;
  src: url('/assets/fonts/Amazdoomleft-epw3.ttf');
}

.main-container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 400px;
  height: 600px;
  width: 1000px;
  flex-direction: column;
  margin-top: 250px;
  box-shadow: 5px 5px 5px 5px #2e061b;
}

.player-container {
  display: flex;
  background: #d35012;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.panel-1,
.panel-2 {
  background: #f30d00;
  height: 500px;
  width: 500px;
  overflow: hidden;
  text-shadow: 1px 1px black;
}

.panel-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.panel-2 > .current-song,
.panel-2 > p {
  background: #f30d00;
  border-left: 1.5px solid #e0b024;
  padding: 17px;
}
.panel-2 > .current-song {
  padding-bottom: 67px;
  text-align: center;
  align-items: center;
}

.panel-2 > p:nth-child(2n) {
  background: #ff6600;
  margin: -24px 0px -24px 0px;
}

.playlists {
  grid-column: 1/6;
  grid-row: 3/7;
  overflow-y: scroll;
}

.playlists::-webkit-scrollbar {
  display: none;
}

.playlists > p {
  background: #f30d00;
  padding: 19px;
  margin: -8px 0px 0px 0px;
}

.playlists > p:nth-child(1),
.panel-2 > p:nth-child(2) {
  border-top: 2px solid #e0b024;
}

.playlists > p:nth-child(odd) {
  background: #ff6600;
}

#playlist-titlebar {
  margin: 0px 10px 0px 10px;
}

footer {
  display: grid;
  height: 100px;
  width: 1000px;
  background: #e0b024;
  /* border-bottom-left-radius: 2px;
  border-bottom-right-radius: 5px; */
  grid-template-columns: repeat(20, 1fr);
  text-shadow: 0.5px 0.5px black;
}

#doom-guy {
  max-height: 75.406px;
  max-width: 81px;
  padding: 20px;
  grid-column: 1/2;
}

#doom-guy + p {
  grid-row: 2/3;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  /* padding: 5px; */
}

.album {
  grid-column: 4/6;
  grid-row: 1/3;
  max-width: 139px;
  max-height: 192.312px;
  background: url('/assets/images/Doom_front_cover\ \(1\).jpg');
  margin-left: 35px;
}

footer img {
  width: 30px;
  height: 35px;
  margin: 35px 25px 0px 10px;
}

footer img:hover {
  cursor: pointer;
}

#rewind {
  padding-left: 20px;
  grid-column: 1/2;
}

#shuffle {
  grid-column: 16/17;
}

#progress-slider,
#volume-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}

#progress-slider {
  width: 200px;
}

#volume-control {
  width: 100px;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, rgba(87, 111, 230, 1)),
    color-stop(51%, rgba(152, 68, 183, 1)),
    color-stop(100%, rgba(255, 53, 127, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 5px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, rgba(87, 111, 230, 1)),
    color-stop(51%, rgba(152, 68, 183, 1)),
    color-stop(100%, rgba(255, 53, 127, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: #e0b024;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(255, 53, 127);
}

input[type='range']::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type='range']::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

#song-current-time,
#song-total-time,
#current-volume {
  margin-top: 42px;
}

#song-total-time {
  margin-left: 4px;
}

#current-volume {
  margin-right: 30px;
  margin-left: 15px;
  max-width: 10px;
}
