body {
  margin: 0;
  background: #373c3f;
  font-family: 'Lato', sans-serif;
}

#content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(25vh, auto);
  gap: 5px;
  margin: 0 auto;
  grid-template-areas:
    'header header header header header header'
    'section section section main . form'
    'section section section main aside aside'
    'section section section main . .';
}

#content > * {
  padding: 30px;
  font-family: 'Lato', sans-serif;
}

header {
  grid-area: header;
  background-image: url('https://austria-in-space.at/resources/img/hero-headers/ais-hero-header-2600x650-europe-frome-space.png');
  font-size: 55px;
  text-align: center;
  line-height: 192.25px;
  color: white;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

article,
aside,
form {
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

aside {
  grid-area: aside;
  text-align: center;
  margin-right: 10px;
  background-color: #ffffff;
}

article {
  padding: 2px 2px 2px 2px;
  margin-bottom: 35px;
  height: 150px;
  max-height: 200px;
  background: #ffffff;
}

form {
  grid-area: form;
  margin-right: 10px;
  background: #ffffff;
}

#upvote,
#downvote {
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
  margin-left: 5px;
}

#upvote {
  background-image: url('assets/upvote.png');
  margin-top: -90px;
}

#downvote {
  background-image: url('assets/downvote.png');
}

#vote-counter {
  display: inline;
  margin-left: 7px;
}

#content-header,
#submit-info {
  margin: 0;
  text-align: center;
  margin-left: 30px;
  margin-right: 10px;
  max-height: 30px;
}

#content-header {
  margin-top: 10px;
}

#submit-info {
  font-size: 15px;
  margin-top: 70px;
}

a {
  font-size: 13px;
  display: block;
  text-align: right;
}
